<div class="post-book-container">
  <h2>Dodaj Książkę</h2>
  <form (ngSubmit)="saveBook()">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Nazwa</mat-label>
      <input id="name" matInput [(ngModel)]="book.name" name="name" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Autor</mat-label>
      <select id="author" matNativeControl [(ngModel)]="book.author" name="author" required>
        <option *ngFor="let author of authors" [ngValue]="author">{{ author.name }}</option>
      </select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Wydawca</mat-label>
      <input id="publisher" matInput [(ngModel)]="book.publisher" name="publisher" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Rok</mat-label>
      <input id="year" matInput type="number" [(ngModel)]="book.year" name="year" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Cena</mat-label>
      <input id="price" matInput type="number" [(ngModel)]="book.price" name="price" required />
    </mat-form-field>

    <button type="submit" [disabled]="isLoading">Zapisz</button>
  </form>
</div>
