.authors-list-container {
    padding: 16px;
}

.toolbar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px; 
}

.toolbar button {
    margin-left: 8px;
}

mat-grid-list {
    width: 100%;
    height: auto;
}

mat-grid-tile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.author-card {
    width: 100%;
    max-width: 300px;
    margin: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.author-card:hover {
    transform: scale(1.03);
}

mat-card-title {
    text-align: center;
}

mat-card-actions {
    display: flex;
    justify-content: space-between;
}

mat-card-actions .actions {
    width: 100%;
    justify-content: space-evenly;
}

mat-card-content p {
    margin: 4px 0;
}
  