<div *ngIf="isLoading" class="loading">
    <p>Ładowanie danych...</p>
  </div>
  
  <div *ngIf="!isLoading && authors.length > 0">
    <h2>Lista Autorów</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Imię i nazwisko</th>
          <th>Narodowość</th>
          <th>Liczba Książek</th>
          <th>Akcje</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let author of authors">
          <td>{{ author.id }}</td>
          <td>{{ author.name }}</td>
          <td>{{ author.nationality }}</td>
          <td>{{ author.books?.length || 0 }}</td>
          <td>
            <button (click)="deleteAuthor(author.id)">Usuń</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div *ngIf="!isLoading && authors.length === 0">
    <p>Brak autorów do wyświetlenia.</p>
  </div>
  